@charset "UTF-8";

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    background-color: white;
}

header {
    background-color: black;
    min-height: 150px;
    font-family: var(--fonte1);
    font-weight: bolder;
    color: white;
    text-align: center;
    font-size: 4em;
    display: block;
    padding-top: 50px;
}

p {
    padding: 65px 25px;
    font-weight: 550;
    line-height: 2;
}


header > p {
    font-size: 15px;
    padding-top: 20px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

section.normal {
    background-color: white;
    font-family: var(--fonte2);
    font-size: 2.5em;
    font-style: italic;
    font-weight: normal;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    font-size: 2.5em;
    font-style: italic;
    text-shadow: 1px 1px 0px black;
    font-family: var(--fonte2);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgb(0 0 0 / 47%);
    
}


#img01 {
    background-image: url(imagens/background001.jpg);
}

#img02 {
    background-image: url(imagens/background002.jpg);
}


footer {
    background-color: black;
    color: white;
    font-family: var(--fonte1);
    text-align: center;
    padding: 10px 0px;
    font-size: 1em;
    
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}